{% extends "base.html" %}
{% block content %}

<h3 class="center-align teal-text text-darken-4">
    Edit Car
</h3>

<div class="row">
    <form class="col s12" method="POST"  action="{{ url_for('edit_car', stats_id=stat._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                  <option value="" disabled selected>Select car category</option>
                {% for category in categories %}
                    {% if category.category_name == stat.category_name %}
                      <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                      <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <label for="category_name">Car Category</label>
              </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix teal-text text-darken-4"></i>
                <input id="image_url" name="image_url" value="{{ stat.image_url }}" type="text" class="validate" required>
                <label for="image_url">Image URL</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-circle prefix teal-text text-darken-4"></i>
                <input id="manufacturer" name="manufacturer" value="{{ stat.manufacturer }}" type="text" class="validate" required>
                <label for="manufacturer">Manufacturer</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-car prefix teal-text text-darken-4"></i>
                <input id="model" name="model" value="{{ stat.model }}" type="text" class="validate" required>
                <label for="model">Model</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-cogs prefix teal-text text-darken-4"></i>
                <input id="engine" name="engine" value="{{ stat.engine }}" type="text" class="validate" required>
                <label for="engine">Engine Size</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-horse-head prefix teal-text text-darken-4"></i>
                <input id="horsepower" name="horsepower" value="{{ stat.horsepower }}" type="text" class="validate" required>
                <label for="horsepower">Horsepower</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large teal darken-1 text-shadow">
                    Edit Car 
                </button>
                <a href="{{ url_for('get_stats') }}" class="btn-large red text-shadow">
                    Cancel 
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}