{% extends "base.html" %}
{% block content %}


<!-- Log In Form Section -->
<div class="row">
    <!-- Log In Form Container -->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <h3 class="center-align teal-text text-darken-4">Log In</h3>
            <!-- Enter username field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix teal-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix teal-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9!@#$%^&*()_+{}\[\]:;>,.?~\\/-]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    <i class="fas fa-eye teal-text text-darken-4 toggle-password" style="cursor: pointer;"></i>
                </div>
            </div>
            <!-- Log In button field -->
            <div class="row">
                <button type="submit" class="col s12 btn-large teal darken-4 text-shadow">
                    Log In
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Registration Link Section -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Don't have an account?
            <a href="{{ url_for('register') }}" class="teal-text text-darken-4">Register Account</a>
        </p>
    </div>
</div>

{% endblock %}