{% extends "base.html" %}
{% block content %}

<div class="row">
  
      {% for stat in stats %}
      <div class="col s12 m6">
        <div class="card">
      <div class="card-image">
        <img src="{{ stat.image_url }}">
        <span class="card-title">{{ stat.category_name }}</span>
      </div>
      <div class="card-content">
        <p>Manufacturer: {{ stat.manufacturer }}</p>
        <p>Model: {{ stat.model }}</p>
        <p>Engine size: {{ stat.engine }}</p>
        <p>BHP: {{ stat.horsepower }}</p>
        <p>Created by: {{ stat.created_by }}</p> 
      </div>
    </div>
  </div>
      {% endfor %}
</div>



{% endblock %}